

@model List<TasksControllerApp.Models.TaskItem>

<h2>Task List</h2>

<div class="container">
    <div class="row">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.DueDate</td>
                        <td>@item.Status</td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Tasks" asp-action="Edit">Edit</a>
                        </td>
                        <td>
                            <form asp-controller="Tasks" asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>



                }

            </tbody>
        </table>
    </div>
</div>